{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Term of Use</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en-US">
    <meta id="og-title" property="og:title" content="Term of Use" />
    <meta id="og-description" property="og:description" content="Terms of Use" />
    <meta id="og-image" property="og:image" content="" />
    <meta id="og-url" property="og:url" content="" />
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.ico' %}" rel="icon"/>
    <link href="{% static 'assets/img/apple-touch-icon.ico' %}" rel="apple-touch-icon" />
    <link rel="canonical" href="">
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 20px;
      }

      h1 {
          color: #333;
      }

      p {
          line-height: 1.6;
      }
  </style>
  </head>
  <body>
    <h1>Terms of Use for Adrian's Personal Blog Website</h1>
    
  </body>
</html>