<div id="modal" class="modal" onclick="outsideClick(event)">
    <div class="modal-container">
        <div class="modal-header">
            <span class="modal-title">Share</span>
            <span class="close-button" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <h2 class="modal-topic-selected">{{ post.title }}</h2>
            <p class="modal-topic-selected-minidesc">{{ post.mini_description }}</p>
            <div class="modal-url">
                <div class="modal-bottom-container">
                    <input type="text" id="postUrl" readonly onclick="this.select()">
                    <button class="copy-button" onclick="copyUrl()">
                        <svg id="copyIcon" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy">
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                        <svg id="checkIcon" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check" style="display:none;">
                            <path d="M20 6L9 17l-5-5"></path>
                        </svg>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>